.footer {
    font-size: .5em;
    margin-top: 1em;

    p {
        text-align: left;
    }

    p:first-child {
        margin-top: 0;
    }

    p:nth-child(2) {
        margin-bottom: 20px;
    }

    &__overEighteen {
        color: $blueDark30;
        font-size: 2em;
        width: 2.5em;
        height: 2.5em;
        line-height: 1.7em;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: solid 4px $blueDark30;
        text-align: center;
        padding: 2px;
    }
}

@media only screen and (min-width: 768px) {
    .footer {
        color: $grey50;
        font-size: .5em;
    }
}