.bg-image-main {
    background-image: $BgBodyDesktop;
    background-repeat: no-repeat;
    background-position: -10em 0;
    -webkit-background-size: cover;
    background-size: cover;
    height: 18em;

    a.bg-img-anchor {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-indent: -9999px;
    }

    & img {
        width: 55%;
        margin: 0 auto;
        max-width: 260px;
    }
}


@media only screen and (min-width: 768px) {
    .bg-image-main {
        background-position: -7em 0;
        height: 20em;
    }
}


@media only screen and (min-width: 1060px) {
    .bg-image-main {
        background-position: 0 0;
        height: 21em;
    }
}

@media only screen and (min-width: 1200px) {
    .bg-image-main {
        background-position: 0 0;
        height: 22em;
    }
}